:root {
    --background-blue: #171e2f;
    --black: #000000;
}

body {
    background-color: var(--black);
}

.main {
    width: 40rem;
    height: 40rem;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }


  .circle {
    border-radius: 50%;
    position: absolute;
  }

  /*
  .inner-circle {
    width: 39.4rem;
    height: 39.4rem;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 4rem;
    z-index: 10;
  }
  */


  /*

    .half-circle,
.half-circle-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform-origin: right center;
}

  .half-circle:nth-child(1) {
    background-color: #b60000;
  }
  
  .half-circle:nth-child(2) {
    background-color: #b60000;
  }
  
  .half-circle-top {
    background-color: #fff;
  }
  .circle-wrapper:hover .half-circle:nth-child(1) {
    transform: rotate(180deg);
    transition: transform 1s linear;
  }
  
  .circle-wrapper:hover .half-circle:nth-child(2) {
    transform: rotate(360deg);
    transition: transform 2s linear;
  }
  
  .circle-wrapper:hover .half-circle-top {
    opacity: 0;
    transition: opacity 0s 1s;
  }
  */